
@{
    ViewBag.Title = "MostrarPre";
}

<h2>Medicamentos PreOrden</h2>
<table style="width:100%">

    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
    </tr>
    @foreach (var item in ViewBag.Matriz)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Cantidad</td>
            <td>@item.Precio</td>
        </tr>
    }
</table>
<br />
<br />
<form action="/Medicametos/MostrarPost" method="post">
    <input type="submit" value="Mostrar PostOrden">
</form>
<form action="/Medicametos/MostrarIn" method="post">
    <input type="submit" value="Mostrar InOrden">
</form> 